html, body {
  background: #7f91a1;
  position: relative;
  margin: 0px auto;
  height: 100%;
}

.username_block {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
}

.username_block input {
  text-align: center;
  height: 25px;
}

.username_block span {
  color: #f0f0f0;
  font-family: 'Andale Mono', monospace;
}

.user-info {
  top: 1%;
  left: 1%;
}

.send-text {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 16%;
  height: 80px;
  padding: 10px;
  z-index: 101;
  font-size: 20px;
}

.text-area {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 80%;
  height: 50px;
  /*border: none;
  outline: none;*/
  padding: 10px;
  z-index: 100;
}
